body {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843okx-eb13e8e4-0fa4-4fa9-968a-e0f36ff168de.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmZiMjgyMWEtMTQwNi00YTFkLTliMDQtNjY2OGYyNzhlOTQ0XC9kODQzb2t4LWViMTNlOGU0LTBmYTQtNGZhOS05NjhhLWUwZjM2ZmYxNjhkZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.bhj0Qs9G9h8on8c0mY3t31JfbxhhtPT09e-I3RmEQ1I');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

main {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 0;
}

button {
  font-family: 'Gudea', sans-serif;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.title {
  margin-top: 50px;
  padding: 2rem;
  text-align: center;
  text-shadow: 4px 5px rgb(9, 12, 163);
  color: yellow;
}

.select-pokemon-form {
  margin: 0 auto;
  width: 30%;
  border: 1px dashed black;
  background-color: lightgreen;
  padding-top: 2rem;
}

#choose {
  font-size: 1rem;
  margin-top: 1rem;
  background-color: rgb(209, 6, 6)
}

#random {
  font-size: 0.8rem;
  margin: 0.5rem;
  background-color: rgb(65, 65, 66)
}

#pokemon-name {
  font-size: 1.2rem;
}

.waiting {
  margin-top: 4rem;
}

.gameplay {
  margin: 30px;
  padding: 10px;
}

.display-pokemon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 3s;
  filter: blur(0px);
}

@keyframes fadeIn {
  0% {
    filter: blur(10px);
    opacity: 0.1
  }

  100% {
    filter: blur(0px);
    opacity: 1
  }
}

.pokemon-box {
  margin: 0 4%;
  padding: 2rem 3rem;
  width: 20%;
}

.pokemon-box h2 {
  color: rgb(32, 32, 32);
  text-shadow: 2px 1px rgba(255, 255, 255, 0.931);
}

.pokemon-box img {
  width: 80%;
}

.health-bars p {
  display: inline;
  margin: 4rem
}

.button-box {
  margin: 2rem 0;
}

.actionBtn {
  border: 2px solid black;
  margin: 0 1rem;
  padding: 7px 12px;
  border-radius: 7px;
  font-size: 1.6rem;
  color: white
}

.actionBtn:hover {
  color: rgb(219, 198, 198)
}

#attack {
  background-color: rgb(189, 5, 5);
}

#attack:disabled {
  background-color: gray;
}

#berry {
  background-color: rgb(17, 20, 165);
}

#berry:disabled {
  background-color: gray;
}

#again {
  font-size: 1.2rem;
  background-color: rgb(65, 65, 66)
}

.fight {
  padding: 1rem;
  font-size: 1.2rem;
}